// importing of fonts
// @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Rubik: header font for our app
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



$purple: #B200FF;
$blue: #0085FF;
$green: #0BEC21;
$white: #efefef;
$darkBlue: #130188;
$darkBlue2: #13008b;
$lightBlue: #ADADFF;
$skyeBlue: #6072D1;

$font-family-mono: "Red Hat Mono", monospace;
$font-family-roboto-mono: "Roboto Mono", monospace;
$font-family-header: "Rubik", sans-serif;
//gradient for headers / slider etc:
$gradient-text: -webkit-linear-gradient(60deg, $purple, $blue, $green);
// border radius used for list elements, slider etc:
$border-radius: 69px;
// gradient animation style for landing page


html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  @media (max-width: 1215px) {
    width: 100%;
    height: 100%;
  }
}


body {
  // background: linear-gradient(45deg, $darkBlue 0%, darken($darkBlue2, 50%) 100%);
  background: #07004e;
  background-size: 200% 200%;
  width: 1200;
  // animation: background 10s ease infinite;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $font-family-mono;
  color: $white;
  // added background-attachment to make sure background doesn't repeat itself
  background-attachment: fixed;
}



@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

//html tag styles

h3 {
  color: $white;
  font-size: 36px;
  font-family: $font-family-mono;
  font-weight: 400;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 400px;
}

// LandingComp below
/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 0, 78, 0.85); /* Semi-transparent background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

/* Loading Animation Styles */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

/* File Upload Styles */
.file-upload {
  margin-top: 20px;
}
// LandingComp above


#landingAndSticky {
  margin-top: 200px;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  text-align: center;
  justify-content: flex-start;
  top: 0px;
  z-index: 10;
  // margin-bottom: 100px;
  height: 100vh;
  h1 {
    font-size: 84px;
    margin: 0px 20px;
    font-family: $font-family-header;
  }
  margin-bottom: 50px;
}

.favoriteMusicHeader {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  h1 {
    margin: 0px 20px;
  }
}

.graphWrapper {
  h3 {
    margin-left: 60px;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: start;
    text-transform: uppercase;
  }
  margin: auto;
  // width: 1300px;

  display: flex;
  flex-direction: column;
  // height: 100vh;
  justify-content: center;
}

//  YEAR SLIDER STYLING:

// .slideWrapper {
//   display: flex;
//   justify-content: center;
//   margin: 50px;
// }

// This is the slider container

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderSubContainer {
  background: $gradient-text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 74px;
  margin: 0px;
}

// This is the actual slider
.slider {
  --webkit-appearance: none; // removing default css style
  appearance: none;
  width: 700px;
  height: 5px;
  margin: 20px 0px;
  border-radius: $border-radius;
  background: $gradient-text; // setting background (slider) to be same gradient as text
  opacity: 0.7; // opacity is 0,7. On hover it will change.
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

// Added backtrack icon to slider instead of green circle
// Can move back if we prefer the green circle
// Kept the comments just in case

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; // removing default styles
  appearance: none;
  width: 25px;
  height: 25px;
  // background: #00d26f;
  background-image: url('../assets/backtrack_green.png');
  background-repeat: no-repeat;
  background-size: contain;
  // border-radius: 50%; // making it a circle
  cursor: pointer;
}

// adding rules for firefox browsers:
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.chart {
  flex: 2;
}

.barStyle {
  fill: #04a8b4; // Default fill color

  &:hover {
    fill: #04a8b4; // Set the hover fill color if needed
  }

  &.recharts-bar-active {
    fill: transparent !important; // Set the fill to transparent for the activeBar
  }
}

.custom-tooltip {
  margin: '0px 40px 100px 500px';
  background: '#04a8b4';
  width: '300px';
  height: '400px';
  padding: '20px';
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'flex-start';
  align-items: 'center';
}
// .recharts-axis-label {
//   fill: $blue; // Color
//   font-family: 'Rubik', sans-serif; // Font family
//   font-size: 14px; // Font size
//   // Add other styling properties as needed
// }

.navBar {
  display: flex;
  justify-content: center;

  img {
    margin: 25px;
    height: 50px;
  }

  + h3 {
    @media (max-width: 950px) {
      font-size: 30px;
    }
  }
}

.gradientHeader {
  background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: $font-family-mono;
  font-size: 64px;
  text-align: center;
    @media (max-width: 1215px) {
      font-size: 50px;
    }
    @media (max-width: 950px) {
      font-size: 40px;
    }
}


.TopTracksAndImageContainer {
  display: flex;
  justify-content: center;
  gap: calc(15%);
  align-items: center;
  margin-bottom: 100px;
  // min-width: 1300px;
  @media (max-width: 1055px) {
    flex-direction: column;
    align-items: center;
  }
}

.TopTracksContainer {
  color: $white;
  font-family: $font-family-mono;
  width: 422px;
  h3 {
    margin: 0px;
    text-align: left;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}



.TopTracksContainer li {
  border: 0.3px solid rgba(255, 255, 255, 0.7);
  display: flex;
  width: 400px;
  height: 20px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: $border-radius;
  white-space: nowrap;
  overflow: hidden;
  // position: relative;
  cursor: pointer;
  img {
    height: 15px;
    width: 15px;
    margin: 0px 10px;
  }
}

.trackScrollWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tracks {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 200%;
  div {
    display: inline-block;
    width: 50%;
  }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.onPlay {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 200%;
  animation: marquee 8s linear infinite;
  div {
    display: inline-block;
    width: 50%;
  }
}

.trackImage {
  h3 {
    margin: 0;
    text-align: end;
    margin-bottom: 15px;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}

.trackImageCard {
  background: linear-gradient($lightBlue, $skyeBlue);
  width: 500px;
  height: 515px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    img {
        padding-top: 25px;
        height: 400px;
        width: 425px;
        object-fit: cover;
      }
  h4 {
    font-weight: 300;
    text-align: end;
    margin-right: -250px;
  }
}

.topAlbum {
  h3 {
    margin: 0;
    text-align: end;
    word-wrap: break-word;
    margin-bottom: 15px;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}

.albumCard {
background: rgb(0, 133, 255);
  background: linear-gradient(16deg, rgba(238, 0, 255, 0.2) 0%,  rgba(0, 133, 255, 1) 100%);
  width: 500px;
  height: 515px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    img {
        padding-top: 25px;
        height: 400px;
        width: 425px;
        object-fit: cover;
      }
  h4 {
    font-weight: 300;
    text-align: end;
    margin-right: -250px;
  }
}

// styling for the graph wrapper
// styling for the graph wrapper



.artistsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  // height: 50vh;
  justify-content: center;
  align-items: center;
  h3 {
    font-family: $font-family-header;
    font-weight: 800;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 60px;
    background: $white;
    // background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.artists {
  width: 60%;
  height: 40%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.artists p {
  font-family: $font-family-roboto-mono;
  // font-family: $font-family-header;
  font-size: 30px;
  color: $white;
}

.topAlbumsDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  // height: 60vh;
  // justify-content: center;
  align-items: center;
  h3 {
    // width: 1010px;
    // height: 76px;
    // top: 3036px;
    // left: 359px;
    font-family: $font-family-header;
    font-size: 60px;
    font-weight: 700;
    line-height: 76px;
    // letter-spacing: 0em;
    background: $white;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 3em;

  }
}

// .albumContainer img {
    // width: 980px;
    // height: 988px;
    // position: absolute;
    // top: 3164px;
    // left: 374px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    // top: 3164px;
    // left: 374px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 800px;
    // height: 800px;
// }

.albumContainer {
  background: linear-gradient($lightBlue, $skyeBlue);
  width: 800px;
  height: 824px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    img {
        padding-top: 25px;
        height: 640px;
        width: 660px;
        object-fit: cover;
      }
  h4 {
    font-weight: 300;
    text-align: end;
    margin-right: -250px;
  }
}


.importComp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  h3 {
    font-family: $font-family-header;
    font-weight: 800;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 60px;
    background: $white;
    // background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.SqlLoadComp {
  font-family: sans-serif;
  font-size: 1.5em;
}

textarea {
  font-size: 1.1em;
  width: 70%;
  display: block;
  margin: auto;
}

table {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 40%;
  margin: 1.5em auto;
  text-align: left;
  border-collapse: collapse;
  text-align: right;
}

thead {
  font-weight: bold;
  text-align: center;
  border: 2px solid #999;
}

th,
td {
  border: 1px solid #aaa;
}

.error {
  color: #922;
}
