// importing of fonts
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");


$font-family-mono: "Red Hat Mono", monospace;
$font-family-roboto-mono: "Roboto Mono", monospace;
//gradient for headers / slider etc:
$gradient-text: -webkit-linear-gradient(60deg, #B200FF, #0085FF, #0BEC21);
// border radius used for list elements, slider etc:
$border-radius: 69px;
// gradient animation style for landing page
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  @media (max-width: 1215px) {
    width: 100%;
    height: 100%;
  }

}

body {
  // background: linear-gradient(45deg, #130188 0%, darken(#13008b, 50%) 100%) bottom;
  background: linear-gradient(to bottom,#130188, #13008b);
  background-size: 400% 200%;
  height: 100% !important;
  width: 100%;
  animation: background 20s ease infinite;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $font-family-mono;
  color: white;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

//html tag styles

h3 {
  color: white;
  font-size: 36px;
  font-family: $font-family-mono;
  font-weight: 300;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 400px;
}

.favoriteMusicHeader {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  h1 {
    margin: 0px 20px;
  }
}

//  YEAR SLIDER STYLING:

.slideWrapper {
  display: flex;
  justify-content: center;
  margin: 50px;
}

// This is the slider container

.topTracksByYearWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1100px;

}

.topTracksByYear {
  background: $gradient-text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 74px;
  margin: 0px;
}

// This is the actual slider
.slider {
  --webkit-appearance: none; // removing default css style
  appearance: none;
  width: 100%;
  height: 5px;
  margin: 0px 0px;
  border-radius: $border-radius;
  background: $gradient-text; // setting background (slider) to be same gradient as text
  opacity: 0.7; // opacity is 0,7. On hover it will change.
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; // removing default styles
  appearance: none;
  width: 20px;
  height: 20px;
  background: #00d26f;
  border-radius: 50%; // making it a circle
  cursor: pointer;
}

// adding rules for firefox browsers:
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%; // making it a circle
  cursor: pointer;
}

.chart {
  flex: 2;
}


.navBar {
  display: flex;
  justify-content: center;

  img {
    margin: 25px;
    height: 50px;
  }

  + h3 {
    @media (max-width: 950px) {
      font-size: 30px;
    }
  }
}

.gradientHeader {
  background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: $font-family-mono;
  font-size: 64px;
  text-align: center;
    @media (max-width: 1215px) {
      font-size: 50px;
    }
    @media (max-width: 950px) {
      font-size: 40px;
    }
}

.TopTracks {
  color: white;
  font-family: $font-family-mono;
  width: 422px;
  h3 {
    margin: 0px;
    text-align: left;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.TopTracks li {
  border: 0.5px solid gray;
  display: flex;
  width: 400px;
  height: 1em;
  padding: 10px;
  margin: 10px 0px;
  border-radius: $border-radius;
  white-space: nowrap;
  overflow: hidden;
  // position: relative;
  cursor: pointer;
    img {
        height: 15px;
        width: 15px;
        margin: 0px 10px;
    }
}

.scrollWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tracks {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 200%;
  margin-top: -3px;
  div {
    display: inline-block;
    width: 50%;
  }
}

.onPlay {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 200%;
  animation: marquee 8s linear infinite;
  div {
    display: inline-block;
    width: 50%;
  }
}

.trackListAndAlbum {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: 1055px) {
    flex-direction: column;
    align-items: center;
  }
}

.topAlbum {
  h3 {
    margin: 0;
    text-align: end;
    margin-bottom: 15px;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}

.albumCard {
  background: linear-gradient(#ADADFF, #6072D1);
  width: 500px;
  height: 515px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    img {
        padding-top: 25px;
        height: 400px;
        width: 425px;
        object-fit: cover;
      }
  h4 {
    font-weight: 300;
    text-align: end;
    margin-right: -250px;
  }
}

// styling for the graph wrapper
// styling for the graph wrapper
.topTracksByYearWrapper {
  margin: 50px 0px;
  width: 100%;
}


.topArtistsByYearWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  h3 {
    font-family: $font-family-mono;
    font-weight: 800;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 50px;
    background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.topArtistsByYear {
  width: 80%;
  height: 50%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.topArtistsByYear p {
  font-family: $font-family-roboto-mono;
  font-size: 28px;
  color: white;
}
