// importing of fonts
// @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


// Added Rubik as header font for our app

$purple: #B200FF;
$blue: #0085FF;
$green: #0BEC21;
$white: #efefef;
$darkBlue: #130188;
$darkBlue2: #13008b;
$lightBlue: #ADADFF;
$skyeBlue: #6072D1;

$font-family-mono: "Red Hat Mono", monospace;
// $font-family-roboto-mono: "Roboto Mono", monospace;
$font-family-header: "Rubik", sans-serif;
//gradient for headers / slider etc:
$gradient-text: -webkit-linear-gradient(60deg, $purple, $blue, $green);
// border radius used for list elements, slider etc:
$border-radius: 69px;
// gradient animation style for landing page


html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  @media (max-width: 1215px) {
    width: 100%;
    height: 100%;
  }

}


body {
  background: linear-gradient(45deg, $darkBlue 0%, darken($darkBlue2, 50%) 100%);
  background-size: 200% 200%;
  width: 100%;
  animation: background 10s ease infinite;
  margin: 0px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $font-family-mono;
  color: $white;
  // added background-attachment to make sure background doesn't repeat itself
  background-attachment: fixed;
}



@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

//html tag styles

h3 {
  color: $white;
  font-size: 36px;
  font-family: $font-family-mono;
  font-weight: 300;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 400px;
}


#landingAndSticky {
  // margin-bottom: 100px;
  height: 100vh;
  h1 {
    font-size: 96px;
    margin: 0px 20px;
    font-family: $font-family-header;
  }
}

.favoriteMusicHeader {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  h1 {
    margin: 0px 20px;
  }
}

.graphWrapper {
  margin: 50px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

//  YEAR SLIDER STYLING:

// .slideWrapper {
//   display: flex;
//   justify-content: center;
//   margin: 50px;
// }

// This is the slider container

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderSubContainer {
  background: $gradient-text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 74px;
  margin: 0px;
}

// This is the actual slider
.slider {
  --webkit-appearance: none; // removing default css style
  appearance: none;
  width: 100%;
  height: 5px;
  margin: 40px 0px;
  border-radius: $border-radius;
  background: $gradient-text; // setting background (slider) to be same gradient as text
  opacity: 0.7; // opacity is 0,7. On hover it will change.
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

// Added backtrack icon to slider instead of green circle
// Can move back if we prefer the green circle
// Kept the comments just in case

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; // removing default styles
  appearance: none;
  width: 25px;
  height: 25px;
  // background: #00d26f;
  background-image: url('../assets/backtrack_green.png');
  background-repeat: no-repeat;
  background-size: contain;
  // border-radius: 50%; // making it a circle
  cursor: pointer;
}

// adding rules for firefox browsers:
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.chart {
  flex: 2;
}


.navBar {
  display: flex;
  justify-content: center;

  img {
    margin: 25px;
    height: 50px;
  }

  + h3 {
    @media (max-width: 950px) {
      font-size: 30px;
    }
  }
}

.gradientHeader {
  background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: $font-family-mono;
  font-size: 64px;
  text-align: center;
    @media (max-width: 1215px) {
      font-size: 50px;
    }
    @media (max-width: 950px) {
      font-size: 40px;
    }
}

.TopTracksContainer {
  color: $white;
  font-family: $font-family-mono;
  width: 422px;
  h3 {
    margin: 0px;
    text-align: left;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.TopTracksContainer li {
  border: 0.3px solid rgba(255, 255, 255, 0.7);
  display: flex;
  width: 400px;
  height: 20px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: $border-radius;
  white-space: nowrap;
  overflow: hidden;
  // position: relative;
  cursor: pointer;
    img {
        height: 15px;
        width: 15px;
        margin: 0px 10px;
    }
}

.trackScrollWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tracks {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 200%;
  div {
    display: inline-block;
    width: 50%;
  }
}

.onPlay {
  position: absolute;
  overflow: hidden;
  display: block;
  width: 200%;
  animation: marquee 8s linear infinite;
  div {
    display: inline-block;
    width: 50%;
  }
}

.TopTracksAndImageContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: 1055px) {
    flex-direction: column;
    align-items: center;
  }
}

.trackImage {
  h3 {
    margin: 0;
    text-align: end;
    margin-bottom: 15px;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}

.trackImageCard {
  background: linear-gradient($lightBlue, $skyeBlue);
  width: 500px;
  height: 515px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    img {
        padding-top: 25px;
        height: 400px;
        width: 425px;
        object-fit: cover;
      }
  h4 {
    font-weight: 300;
    text-align: end;
    margin-right: -250px;
  }
}

.topAlbum {
  h3 {
    margin: 0;
    text-align: end;
    margin-bottom: 15px;
    @media (max-width: 1055px) {
      text-align: center;
    }
  }
}

.albumCard {
  background: linear-gradient($lightBlue, $skyeBlue);
  width: 500px;
  height: 515px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    img {
        padding-top: 25px;
        height: 400px;
        width: 425px;
        object-fit: cover;
      }
  h4 {
    font-weight: 300;
    text-align: end;
    margin-right: -250px;
  }
}

// styling for the graph wrapper
// styling for the graph wrapper



.topArtistsByYearWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  h3 {
    font-family: $font-family-mono;
    font-weight: 800;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 50px;
    background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.topArtistsByYear {
  width: 80%;
  height: 50%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.topArtistsByYear p {
  // font-family: $font-family-roboto-mono;
  font-family: $font-family-header;
  font-size: 28px;
  color: $white;
}

.topAlbumsDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  h3 {
    width: 1010px;
    height: 76px;
    top: 3036px;
    left: 359px;
    font-family: $font-family-mono;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0em;
    background: $gradient-text;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.topAlbumContainer {
    width: 980px; 
    height: 988px; 
    position: absolute;
    top: 3164px;
    left: 374px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}